* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.text {
    color: #636363;
}

h2 {
    color: black;
    font-size: 70px;
    font-weight: 900;
    margin: 20px 0;
    line-height: 80px;
}

h3 {
    color: black;
    font-size: 25px;
    margin: 20px 0;
}

h4 {
    font-size: 1.5rem;
}

h6 {
    color: #f55f8d;
    font-weight: bold;
    font-size: 1.4rem;
}


/* start-header */

header {
    width: 100%;
    padding: 35px 0;
    position: absolute;
    z-index: 1;
}

.header__container {
    width: 79%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__container nav ul {
    display: flex;
    align-items: center;
}

.header__container nav ul li {
    list-style: none;
    margin-left: 30px;
}

.header__container li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.header__container li a span {
    margin-right: 5px;
    font-weight: 500;
    font-size: 15px;
}

.fa-chevron-down {
    font-size: 10px;
}

.header__container li a:hover {
    color: #f55f8d;
}

a:hover span {
    animation: upToDown 0.3s;
}

/* end-header */


/* start-carousel */

.carousel {
    background: url(./IMAGE/pic2.png);
    width: 100%;
    background-size: 100%;
    background-position: top center;
    padding-top: 200px;
    overflow: hidden;
}

.container__carousel {
    display: flex;
}

.carousel__left {
    padding: 30px 0;
}

.carousel__left ul li {
    list-style: none;
    margin: 20px 0;
    color: #636363;
    font-size: 20px;
}

.carousel__left p {
    font-size: 1.2rem;
    line-height: 30px;
    color: #636363;
}

.carousel__left button {
    margin-top: 35px;
}

.carousel__left .icons-check .la-check {
    font-size: 25px;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
    background-image: linear-gradient(to right, #f55f8d, #f8ae56);
}

.carousel__right {
    position: relative;
    left: 140px;
    display: flex;
}

/* end-carousel */


/* start-services */

.services {
    background-image: url(./IMAGE/bg2.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 80px;
    height: 100%;
    width: 100%;
}

.services__container {
    width: 79%;
    margin: 0 auto;
}

.services__title {
    text-align: center;
    margin-bottom: 30px;
}

.services__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
}

.services__content-item {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 60px 10px;
    transition: 0.5s;
    text-align: center;
    color: #636363;
    line-height: 25px;
}

.services__content-item:hover {
    transform: translateY(-20px);
}

.services__content-item img {
    width: 70%;
    border-radius: 15px;
}

/* end-services */


/* start-aboutus */

.aboutUs {
    background: url(./IMAGE/bg15.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center right;
    padding: 100px 0;
}

.aboutUs__container {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-end;
}

.aboutUs__left {
    width: 60%;
    position: absolute;
    left: -17%;
}

.aboutUs__left img {
    width: 100%;
    border-radius: 0 100px 100px 0;

}

.aboutUs__right {
    width: 50%;
    color: #636363;
}

.aboutUs__right__title .icons-check .flaticon-check {
    color: #f55f8d;
    font-size: 1.5em;
    margin-right: 10px;
}

.aboutUs__right__title p {
    line-height: 25px;
    margin: 15px 0;
}

.aboutUs__right__title ul li {
    margin: 10px 0;
    list-style: none;
}

.aboutUs__right__title li i {
    vertical-align: middle;
}

.aboutUs__right button {
    margin-top: 35px;
}

/* end-aboutUs */


/* start-number */

.number {
    width: 100%;
    background: url(./IMAGE/bg14.png);
    background-position: center center;
}

.number__container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 80px 0;
}

.number__container__content {
    width: 25%;
    font-size: 20px;
}

.number__container__content .content-item-icon {
    display: inline-block;
    color: white;
    background: linear-gradient(to right, #f55f8d, #f8ae56);
    font-size: 45px;
    border-radius: 50%;
    line-height: 80px;
    width: 80px;
    height: 80px;
}

.content-item-counter {
    font-size: 4rem;
    font-weight: 900;
    color: #f55f8d;
}

/* end-number */


/* start-Features */

.features {
    /* border: 1px solid rgb(0, 255, 136); */
    background: url(./IMAGE/bg2.png);
    background-repeat: no-repeat;
    padding-top: 120px;
    background-size: 100%;
    background-position: center;
}

.features__container {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.features__container__left {
    width: 50%;
    padding-right: 50px;
    /* border: 1px solid blue; */
}

.features__container__right {
    width: 50%;
}

.features__container__right img {
    width: 115%;
    position: relative;
    animation-name: features__img;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

.left-item {
    width: 100%;
    display: flex;
    align-items: center;
    background: white;
    color: #636363;
    border-radius: 12px;
    padding: 25px;
    margin: 25px 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 60px 10px;
    position: relative;
    overflow: hidden;
}

.left-item::before {
    content: "";
    background: linear-gradient(to right, #f55f8d, #f8ae56);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 1s;
    left: 0px;
    border-radius: 12px;
}

.left-item:hover::before {
    content: "";
    opacity: 1;
}

.left-item-2 {
    margin-left: 50px;
}

.left-item i {
    font-size: 5rem;
    color: #f55f8d;
    margin-right: 25px;
    transition: 1s;
    position: relative;
}

.left-title {
    vertical-align: middle;
}

.left-item h3,
.left-item p {
    transition: 1s;
    position: relative;
    line-height: 25px;
    bottom: 10px;
}

.left-item:hover i,
.left-item:hover h3,
.left-item:hover p {
    color: #fff;
}

/* end-Features */


/* start-portfolio */

.portfolio {
    width: 100%;
    padding-top: 100px;
    overflow: hidden;
}

.portfolio__container {
    width: 79%;
    margin: 0 auto;
    text-align: center;
}

.portfolio__item {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    gap: 30px;
}

.portfolio__item img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    background-size: 100%;
}

.portfolio__item__gallery:first-child {
    grid-column: 1/3;
    grid-row: 1/2;
}

.portfolio__item__gallery:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/2;
}

.portfolio__item__gallery:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
}

.portfolio__item__gallery:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
}

.portfolio__item__gallery:nth-child(5) {
    grid-column: 1/3;
    grid-row: 3/4;
}

.portfolio__item__gallery:last-child {
    grid-column: 3/4;
    grid-row: 2/4;
}

.portfolio__item__gallery {
    position: relative;
    width: 100%;
    overflow: hidden;
    transition: 0.5s;
    color: #fff;
}

.portfolio__item__gallery::before {
    content: "";
    position: absolute;
    background: linear-gradient(to right, rgba(255, 255, 255, 0)0%, rgba(255, 255, 255, 0.3))100%;
    width: 50%;
    height: 100%;
    left: -200%;
    top: 0;
    transform: skewX(-45deg);
    transition: all 0.8s;

}

.portfolio__item__gallery:hover::before {
    left: 200%;
}

.portfolio__item__gallery .gallery__text {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    bottom: 0;
    text-align: left;
    transition: all 0.8s;
    overflow: hidden;
}

.portfolio__item__gallery:hover .gallery__text {
    background: rgb(0, 0, 0, 0.5);
}

.portfolio__item__gallery .gallery-icon {
    position: absolute;
    top: -50px;
    right: -50px;
    padding: 15px;
    background: linear-gradient(to right, #f55f8d, #f8ae56);
    border-radius: 12px;
    font-size: 25px;
    line-height: 15px;
    transition: all 0.8s;
    opacity: 0;
    cursor: pointer;
}

.portfolio__item__gallery:hover .gallery-icon {
    top: 20px;
    right: 20px;
    opacity: 1;
}

.portfolio__item__gallery .gallery-title p {
    color: rgb(255, 255, 255, 0.5);
}

.portfolio__item__gallery .gallery-title {
    position: absolute;
    bottom: -50px;
    left: 20px;
    transition: all 0.8s;
    opacity: 0;
}

.portfolio__item__gallery:hover .gallery-title {
    bottom: 20px;
    opacity: 1;
}

/* end-portfolio */


/* start-plan */

.plan {
    width: 100%;
    background: url(./IMAGE/bg16.png);
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    padding-top: 100px;
}

.plan__container {
    width: 79%;
    margin: 0 auto;
}

.plan__item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 30px;
}

.plan__item_1,
.plan__item_2,
.plan__item_3 {
    padding: 40px 50px;
    border-radius: 12px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 3%) 0 0 20px 20px;
    border: 3px solid transparent;
    border-image: 100 round;
    transition: all 0.5s;
}

.plan__item_1:hover,
.plan__item_2:hover,
.plan__item_3:hover {
    border-image: url(./IMAGE/br.png) 1 round;
}

.plan__item_content {
    width: 100%;
}

.plan__item_content h3 {
    font-size: 2rem;
    margin: 0;
}

.plan__item_content img {
    width: 50%;
    margin: 15px 0;
}

.plan__item_content strong {
    font-size: 3rem;
    color: #f8ae56;
}

.plan__item_content span {
    font-weight: bold;
    font-size: 20px;
}

.plan__item_list {
    border-top: 1px solid rgb(191, 191, 191);
    margin: 10px 0;
    padding: 10px 0;
}

.plan__item_list ul li {
    list-style: none;
    text-align: left;
}

.plan__item_list i {
    font-size: 15px;
    color: #f55f8d;
    background: #feeff3;
    padding: 7px;
    border-radius: 50%;
    text-align: center;
    margin: 5px 15px 5px 0;
}

.plan__item_list span {
    font-size: 1.2rem;
}

.button__plan {
    margin: 0 auto;
}

/* end-plan */


/* start-testimonial */

.testimonial {
    text-align: center;
    background-image: url(./IMAGE/bg17.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
}

.testimonial__container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.testimonial__content {
    min-height: 300px
}

.testimonial__thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
    overflow: hidden
}

.testimonial__thumbs .testimonial__pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 5px;
    position: relative;
    z-index: 2;
    background-color: #f55f8d
}

.testimonial__thumbs::after,
.testimonial__thumbs::before {
    content: "";
    width: 30px;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2
}

.testimonial__thumbs::before {
    left: 0;
    background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0) 100%)
}

.testimonial__thumbs::after {
    right: 0;
    background: linear-gradient(to left, #fff 0, rgba(255, 255, 255, 0) 100%)
}

.testimonial__pic .shape-bx {
    position: relative;
    height: 35px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 18px;
    opacity: 0;
    transition: all 1s;
    background-color: #f55f8d
}

.swiper-slide-thumb-active .testimonial__pic .shape-bx {
    opacity: 1
}

.testimonial__pic .shape-bx::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(./IMAGE/pattern12.png);
    background-position: bottom;
    background-size: contain;
    height: 100%;
    width: 100%;
    transition: all 1s
}

.testimonial__pic::after,
.testimonial__pic::before {
    content: "";
    background-color: #f55f8d;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0
}

.testimonial__pic::before {
    height: 15px;
    width: 15px;
    bottom: 30px
}

.testimonial__pic::after {
    height: 10px;
    width: 10px;
    bottom: 0
}

.swiper-slide-thumb-active .testimonial__pic::after,
.swiper-slide-thumb-active .testimonial__pic::before {
    opacity: 1
}

.testimonial__comment {
    min-height: 300px;
    width: 100%;
    overflow: hidden
}

.testimonial__comment .swiper-wrapper {
    padding-bottom: 20px
}

.testimonial__thumbs .testimonial__pic {
    padding: 30px 0 0;
    transition: all .5s
}

.testimonial__thumbs .swiper-slide-thumb-active .testimonial__pic {
    padding: 0 0 40px
}

.testimonial__text {
    padding: 30px;
    text-align: center;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .1);
    margin: 0 auto;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    position: relative
}

.swiper-pagination-bullets.swiper-pagination-horizontal,
.testimonial .swiper-horizontal>.swiper-pagination-bullets {
    bottom: auto
}

.swiper-pagination-bullet-active {
    background: #f55f8d
}

.testimonial__text i {
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 70px;
    color: #f55f8d;
    transform: rotate(-180deg)
}

.testimonial__text p {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    padding: 0 15px 15px
}

.testimonial__name {
    font-size: 22px;
    font-weight: 800;
    color: #000;
    line-height: 26px;
    margin-bottom: 5px
}

.testimonial__position {
    font-size: 15px;
    color: #f55f8d;
    margin-bottom: 20px;
    padding: 0
}


/* end-testimonial */


/* start-blog */

.blog {
    background: url(./IMAGE/bg16.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 100px 0 50px 0;
}

.blog__container {
    /* max-width: 1150px; */
    width: 80%;
    margin: 0 auto;
}

.blog__item__content {
    background: rgb(254, 239, 243);
    border-radius: 10px;
    text-align: left;
    line-height: 25px;
}

.blog__item__content img {
    border-radius: 10px;
}

.blog__item__content-middle {
    position: relative;
    padding: 30px 15px;
}

.blog__item__content-middle h4 {
    line-height: 35px;
}

.blog-date {
    font-size: 14px;
    color: #fff;
    background: linear-gradient(to right, #f55f8d, #f8ae56);
    border-radius: 10px;
    padding: 10px 20px;
    position: absolute;
    top: -12%;
}

.blog__item__content-bottom {
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-top: 1px solid rgba(0, 0, 0, .05)
}

.blog__item__content-bottom p::after {
    content: "JOHNE DOE";
    color: #f55f8d;
    margin: 0 15px 0 3px;
}

.blog__item__content-bottom i {
    color: #f55f8d;
    font-size: 25px;
    margin-right: 2px;
}


/* end-blog */

footer {
    background: url(./IMAGE/pattern2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    top: 0;
}

footer::after {
    content: "";
    background-color: #0e1b1f;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -2;
}

footer::before {
    content: "";
    background: url(./IMAGE/bg4.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.footer__container {
    width: 80%;
    margin: 0 auto;
}

.footer__top {
    background: url(./IMAGE/pattern3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 5%) 0 0 20px 20px;
    padding: 50px 50px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    display: flex;
    border: none;
    box-shadow: rgba(0, 0, 0, 5%) 0 0 20px 20px;
    border-radius: 10px;
}

.form__email input {
    width: 450px;
    height: 70px;
    border-radius: 10px 0 0 10px;
    padding: 30px 15px;
    border: 1px solid transparent;
    font-size: 16px;
    outline: 0;
    transition: all 0.3s linear;
}

.form__email input:hover {
    border: 1px solid #f55f8d;
}

.form__email button {
    font-size: 1.5rem;
    color: #fff;
    background: linear-gradient(to right, #f55f8d 0%, #f8ae56 50%, #f55f8d 100%);
    background-size: 200%;
    padding: 15px 35px;
    border: none;
    border-radius: 0 10px 10px 0;
    transition: all 0.5s;
}

.form__email button:hover {
    background-position: right center;
}


.form__email button:hover i {
    animation: BackOut;
    animation-duration: 0.5s;

}

.contact__item {
    /* border: 1px solid red; */
    width: 25%;
    margin: 80px 0;
}

.footer__middle__item {
    display: flex;
    justify-content: space-between;
}

.contact_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact_list h3 {
    position: relative;
    margin: 0 0 50px 0;
    color: #fff;
}

.contact_list h3::after,
.contact_list h3::before {
    content: "";
    background: linear-gradient(to right, #f55f8d, #f8ae56);
    height: 5px;
    position: absolute;
    bottom: -15px;
    left: 0;
    border-radius: 2px;
}

.contact_list h3::before {
    width: 20px;
}

.contact_list h3::after {
    content: "";
    width: 50px;
    left: 30px;
}

.contact_list ul li {
    list-style: none;
    display: flex;
    margin: 25px 0;
}

.contact_list ul li i {
    font-size: 1rem;
    color: #fff;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 50%, #f55f8d 100%);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
}

.contact_list p {
    color: white;
    font-weight: 100;
    margin-left: 15px;
}

.contact_list a {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.3);
    margin: 12px 12px 12px 0;
    font-size: 16px;
    font-weight: 100;
    transition: 0.3s;
}

.contact_list a:hover {
    color: rgb(255, 255, 255);
}

.contact_list .right {
    padding-right: 15px;
}

.footer__bottom {
    background: rgb(31, 52, 59);
    padding: 10px 0;
}

.footer__bottom_bg {
    color: #fff;
    width: 79%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__bottom span {
    color: #f55f8d;
}

.footer__bottom .social i {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    color: #fff;
    background-color: rgba(255, 255, 255, 20%);
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    transition: 0.3s;
}

.footer__bottom .social i:hover {
    background: #f55f8d;
}

/* back-to-top */

.backToTop {
    position: fixed;
    display: block;
    color: #fff;
    background-color: #f55f8d;
    box-shadow: rgba(0, 0, 0, 2%) 0 0 10px 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 12px;
    bottom: 10px;
    right: 10px;
    text-align: center;
    transition: all 0.5s;
    visibility: visible;
    opacity: 0;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}







/* ANIMATION */

@keyframes upToDown {
    49% {
        transform: translateY(100%);
    }

    50% {
        opacity: 0;
        transform: translateY(-100%);
    }

    51% {
        opacity: 1;
    }
}

@keyframes BackOut {
    49% {
        transform: translatex(100%);
    }

    50% {
        opacity: 0;
        transform: translatex(-100%);
    }

    51% {
        opacity: 1;
    }
}

@keyframes features__img {
    0% {
        transform: rotate(-1deg);
    }

    50% {
        transform: rotate(1deg);
    }

    100% {
        transform: rotate(-1deg);
    }
}


/* ANIMATION */

.button__animation {
    display: block;
    width: 170px;
    height: 60px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: none;
    background-size: 300%;
    border-radius: 50px;
    transition: all 0.4s linear;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 40%, #f55f8d 100%);
}

.button__animation:hover {
    background-position: 100% 0;
}